<div class="product-page">
  <div class="user-header">
    <div>
      <p class="hello">Hello</p>
      <h2 class="username">Jackson Grim</h2>
    </div>
    <img src="../../../assets/images/profile/jackson-profile.jpg" class="user-avatar" alt="Jackson Grim">
  </div>

  <div class="segmented-control">
    <button class="segment active">
      <img src="assets/images/icons/products-icon.png" alt="Products">
      Products
    </button>
    <button class="segment">
      <img src="assets/images/icons/cart-buy-icon.png">
    </button>
  </div>

  <div class="product-list">
    <div class="product-card" *ngFor="let product of products">
      <div class="image-wrapper">
        <img [src]="product['image-front']" class="front" />
        <img [src]="product['image-back']" class="back" />
      </div>

      <div class="product-info">
        <h3>{{ product.title }}</h3>
        <p>{{ product.description }}</p>

        <div class="product-footer">
          <span class="price-box">${{ product.price }}</span>
          <button class="cart-button">
            <img src="assets/images/icons/cart-buy-icon.png">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
