<nav class="navbar">
  <div class="hamburger" (click)="toggleMenu()">
    &#9776;
  </div>

  <ul class="menu" [class.open]="menuOpen">
    <ng-container *ngIf="isLoggedIn; else loggedOut">
      <!-- Links para usuarios logueados -->
      <li><a routerLink="/products/list">Products</a></li>
      <li><a routerLink="/sales/cart">Cart</a></li>
      <li><a href="#" (click)="logout(); $event.preventDefault()">Log Out</a></li>
    </ng-container>

    <ng-template #loggedOut>
      <!-- Links para usuarios no autenticados -->
      <li><a routerLink="/auth/login">Login</a></li>
      <li><a routerLink="/auth/register">Register</a></li>
    </ng-template>
  </ul>
</nav>
